
h1 {
    background-color: rgb(148, 135, 222);
    text-align: center;
    box-sizing: content-box;
}

.card-outer-body {
    border: 1px solid rgba(0, 0, 0, 0.066);
    width: 350px;
    border-radius: 15px;
    padding: 10px;
    align-content: center;
}

.card-outer-body:hover {
    background-color: rgba(228, 223, 245, 0.39);
}

.card-image {
    border-radius: 15px;
}

.card-caption {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 13px;
}

.column {
    margin-top: 110px;
    margin-left: 60px;
    float: left;
    width: 20%;
    padding: 10px;
}

span {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#discount {
    color: rgb(114, 114, 250);
    font-weight: bold;
}

#price {
    padding: 10px;
    font-weight: bold;
    text-decoration: line-through;
    color: silver;
}

#offer {
    padding: 5px;
    background-color: rgb(104, 244, 165);
    border-radius: 5px;
    color: white;
    font-weight: bold;
}