/* p{
    position: static;
} */


div{
    display: inline-block;
    width:150px;
    height:150px;
    background-color: aqua;
    border:1px solid black;
}

#box3{
    position:fixed;
    top:120px;
    right:6px;
}

/* #box1{
    position:fixed;
} */

#box4{
    position:sticky;
    position: fixed;
    
    top:8px;
}


.wrapper{
    width:98vw;
    height: 2000px;
    background-color: green;
}